<!-- <div class="text-center">
  <%= form_tag(service_unsubs_path(@service))  do %>
    <% @hash_service.each do |question| %>

      <fieldset class="custom-form initial-pos">
        <% if  question[:type] == "radio" %>
          <%= label_tag(question[:label]) %>
          <% question[:choices].each do |choices| %>
            <div class="radio-field <%=  choices[:type] == "radio" && choices[:choices] ? "has_sublevel" : "no_sublevel" %>">
              <%= radio_button_tag("unsub[form_complete[#{choices[:name]}]]", choices[:value]) %>
              <%= label_tag("unsub[form_complete[#{choices[:name]}]][#{choices[:value]}]]", choices[:value]) %>
            </div>
          <% end %>
          <div class="btn-blue-neg next-button-radio" >Suivant</div>
        <% else %>
          <%= label_tag(question[:label]) %>
          <%= content_tag(:input, nil, type: question[:type], name: "unsub[form_complete[#{question[:name]}]]", class: "input-text ") %>
          <div class="next-button" >Suivant</div>
        <% end %>
      </fieldset>

      <% if question[:type] == "radio" %>
        <% question[:choices].each do |c| %>
          <%if  c[:type] == "radio" && c[:choices] %>
            <fieldset class="sublevel initial-pos <%= sanitize_to_id("unsub_form_complete_#{c[:name]}_#{c[:value]}") %>" >
              <%= label_tag(c[:label], c[:label]) %>
              <% c[:choices].each do |b| %>
                <div class="radio-field <%= b[:type] == "radio" && b[:choices] ? "has_sublevel" : "no_sublevel" %>">
                  <%= radio_button_tag("unsub[form_complete[#{b[:name]}]]", b[:value], id: "unsub[form_complete_[#{b[:value]}]]")  %>
                  <%= label_tag("unsub[form_complete[#{b[:name]}]][#{b[:value]}]]", b[:value]) %>
                  <%= hidden_field_tag("unsub[form_complete[reason_description]]", b[:content]) %>
                </div>
              <% end %>
              <div class="btn-blue-neg next-button-radio" >Suivant</div>
            </fieldset>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <%= submit_tag "Valider ces informations", class: "btn btn-primary" %>
  <% end %>
</div> -->






https://api.typeform.com/v1/form/QyqJ49?key=6d53c527661a0a32263fcc3c4d7b4f90b4b5e33e





6d53c527661a0a32263fcc3c4d7b4f90b4b5e33e
